* {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    color: #DECBAE;
    background: #00000050;  /* fallback for old browsers */
}

#links > a {
    margin-right: 1em;
}
nav > #logo {
    font-family: 'Abril Fatface', cursive;
    
    letter-spacing: -2px;
    font-size: 2em;
    margin-left: 0.5em;
}

#links > a:link {
    text-decoration: none;
    color: #DECBAE;
}

#links > a:visited {
    color: #DECBAE;
}

#links > a:hover {
    color: #FFFFFF;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    
    letter-spacing: -6px;
    text-transform: none;
    font-size: 8em;
    color: #DECBAE;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-image: url('./images/event1.png');
    background-size: cover;
    background-position: center;

    color: #FFFFFF;
    text-shadow: 2px 2px 20px #00000098;
}

#hero > #upcoming {
    font-size: 2em;
    letter-spacing: 0.25em;
    font-weight: 300;
}

#hero > h2 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

#hero > p {
    font-size: 1.2em;
    font-weight: 250;
}

hr {
    width: 50%;
    border: 1px solid #ffffffff;
    margin-top: 0.2em;
}
